
.profile-image-container{
  margin: 0 auto;
  display: block;
  max-width: 870px;
  inline: block;

}
body{
  background-color: rgba(0,0,0,0.5);
}

.company {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 4.5em;
  margin-top: 50px 100%;
  margin: 0px auto;
  color: white;
  cursor: default;
  transition: 0.3s ease-out;
  height: 75px;
  background-color: orange;
  overflow: hidden;

}
.company:hover{
  text-shadow: 0 0 10px white;
  transition: 0.3s ease-in;
  background-color: white;
  color: orange;
}

.header-container {
  background-image: url("../images/la.jpg");
  background-size: 100%;
  background-position: 0 48%;
  height: 100px;
  overflow: hidden;
}
.profiles {
  max-width: 1000px;
  margin:0 auto;
}


.image {
  max-width: 1000px;
  margin:0 auto;
  width:50%;
  float:left;
  margin-bottom:20px;

}

.profile-img {

  width: 230px;
  border-radius: 150px;
  margin: 70px auto 0 auto;
  border: solid orange 3px;
  display:block;
  margin-bottom:40px;

}

.gabiimage:hover ~ .gabiname {
  color: orange;
  font-size: 3em;

  opacity:100;
  transition: 0.2s;
}

.stevenimage:hover ~ .stevenname {
  font-size: 3em;
  color: orange;

  opacity:100;
  transition: 0.2s;
}

.gabiname{
  cursor: default;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  margin: 0 auto;
  max-width: 400px;
  /*margin-top: 360px;*/
  text-align: center;

  opacity: 100;
}

.stevenname {
  cursor: default;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;

  opacity: 100;
}

.description {
  clear:both;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: -30px;
  font-size: 1.1em;
  line-height: 1.3em;
  color: white;
  font-family: 'Raleway', sans-serif;
  cursor: default;
  text-align: center;

}
/*
.services-accordian {
  max-height: 2.75em;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  overflow: hidden;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.services-accordian:active {
  max-height: 36em;
  transition: 0.5s;
}
.services-accordian:active > .services {
  width: 350px;
  color: orange;
}
 */

 /* ---------------SERVICES--------------- */
 .container {
   font-family: 'Raleway', sans-serif;
   color: white;
   cursor: default;
   text-align: center;
   max-width: 1000px;
   margin:0 auto;
   padding: 10px;
   height: 500px;

 }

 .servicelist {
   font-size: 2em;
   font-family: 'Raleway', sans-serif;
   color: white;
   cursor: pointer;
   text-align: center;
   line-height: 150px;
   margin: 10px auto;
   max-width: 1500px;
   transition: all 500ms cubic-bezier(1, 1, 0.03, 0.94);

 }

.service {
  transition: 0.2s;
  text-align: center;
  /*border-radius: 20px;*/
  background-color: rgba(0,0,0,0.1);
  position: relative;
  margin: 20px auto;
  max-width: 500px;
}

.service:hover {
  font-size: 1.6em;
  background-color: rgba(0,0,0,0.4);
  color: orange;
  border-radius: 50px;
}

.perf-arts {
  max-width: 1000px;
  margin:0 auto;
  width:50%;
  float:left;
  display:block;

}
.film {
  max-width: 1000px;
  margin:0 auto;
  width:50%;
  float:left;
  display:block;
}

.photography {
  max-width: 1000px;
  margin:0 auto;
  width:50%;
  float:left;
  display:block;
}

.animation {
  max-width: 1000px;
  margin:0 auto;
  width:50%;
  float:left;
  display:block;
}
.webdev {
  max-width: 1000px;
  margin:0 auto;
  width:50%;
  float:left;
  display:block;
}

.cookies {
  max-width: 1000px;
  margin:0 auto;
  width:50%;
  float:left;
  display:block;
}
/*
#toggle {
  position: absolute;
  appearance: none;
  cursor: pointer;
  left: -100px;
}


.label {
  cursor:pointer;
  background: rgba(0,0,0,0.1);
  border-radius: 30px;
  color: #FFF;
  line-height:20px;
  font-size:1.4em;
  text-align:center;
  cursor: pointer;
  margin:0 auto;
  width: 140px;
  padding: 10px 30px;
  transition:all 300ms ease;
  border: solid orange 2px;
  display: block;
}

.label:after {
  content:"Services";
  font-family: 'Raleway', sans-serif;
  border-radius: 30px;
}

#toggle:checked ~ .servicelist{
  max-height: 400px;
  transition:all 500ms ease;
}

.label:hover {
  color: orange;
  transition: 0.2s;
  width: 170px;
}

#toggle:checked ~ .label{
  transition:all 350ms ease;
  width: 300px;
}
*/
/*OUR GOALS*/

.goals-header {
  margin: 20px auto;
  font-size: 3em;
  line-height: 1.4em;
  color: white;
  font-family: 'Raleway', sans-serif;
  cursor: default;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
}
.goals {
  width: 100%;
  max-width: 650px;
  margin: 50px auto;
  font-size: 1.1em;
  line-height: 1.5em;
  color: white;
  font-family: 'Raleway', sans-serif;
  cursor: default;
  text-align: center;
}

.contact-header {
  margin: 20px auto;
  font-size: 3em;
  line-height: 1.4em;
  color: white;
  font-family: 'Raleway', sans-serif;
  cursor: default;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
}
.contact-info {
  width: 100%;
  max-width: 650px;
  margin: 50px auto;
  font-size: 1.1em;
  line-height: 1.5em;
  color: white;
  font-family: 'Raleway', sans-serif;
  cursor: default;
  text-align: center;
}

/*END TAG*/
.endtag {
  background-color: rgba(0,0,0,0.3);
  height: 200px;
  width: 0 auto;
  text-align: center;
}

.youtubelogo {
  width: 100px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 250px;
}
#lahover:hover{
  box-shadow: white 0 0 5px;
  transition: 0.2 ease-in;
}


/*GROW*/
#hvr-grow {
  transform: translateZ(10);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.2s;
  transition-property: transform;
  font-size: 6px;
}
#hvr-grow:hover,
#hvr-grow:focus,
#hvr-grow:active {
  transform: scale(1.2);
  box-shadow: orange 0 0 10px;
}


@media screen and (max-width: 650px ) {

  .profiles .image {
    width:100%;
    float:none;
  }

  .description {
    margin-top:40px;
  }

}
